# Dependencies
node_modules

# Dev database
dev.db
dev.db-journal

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Build Outputs
dist/

# Misc
.DS_Store
*.pem
